@import 'theme';

input{
    width: 40px;
    border-radius: 4px;
}
button{
    margin-left: 10px;
    height: 22px;
    line-height: 22px;
}
button:active {
    line-height: 25px;
}
.error{
    font-size: 15px;
    color: #f3c231;
    margin-top: 8px;
}
.error-display{
    border: 2px solid red;
    background: #dad8a2;
}
.clear-price{
    color: $color5;
    margin-top: 4px;
    font-size: 15px;
    cursor: pointer;
}
.clear-price:hover{
    text-decoration: underline;
}
form {
    margin-bottom: 5px;
}