<!-- Custom price range -->
<form (ngSubmit)="parent.onSubmit(priceForm)" #priceForm="ngForm" class="content" [style.maxHeight.px]="parent.showContent ? 76: 0" [ngClass]="{'opacity': parent.showContent}">
    $
    <input required pattern="(\d+)?\.?(\d+)?" [(ngModel)]="parent.min" name="min" #minNum="ngModel" [ngClass]="{'error-display': priceForm.submitted && !minNum.valid}">
    <span style="margin-left: 5px">to</span> $
    <input required pattern="(\d+)?\.?(\d+)?" [(ngModel)]="parent.max" name="max" #maxNum="ngModel" [ngClass]="{'error-display': priceForm.submitted && !maxNum.valid}">
    <button type="submit">Go</button>
    <div [hidden]="!priceForm.submitted || (minNum.valid && maxNum.valid)" class="error">Please enter a valid price range</div>
    <div *ngIf="parent.showClearPrice" class="clear-price" (click)="parent.clearPrice(priceForm)">Clear Price Range</div>
  </form>
  
  <!-- Price range options -->
  <ng-content></ng-content>