<!-- Custom price range -->
<div>
  <form (ngSubmit)="priceFilter.onSubmit(priceForm)" #priceForm="ngForm" class="content"
    [style.maxHeight.px]="priceFilter.showContent ? 76: 0" [ngClass]="{'opacity': priceFilter.showContent}">
    <span style="display: flex">
      <span>
        $
        <input required pattern="(\d+)?\.?(\d+)?" [(ngModel)]="priceFilter.min" name="min" #minNum="ngModel"
          [ngClass]="{'error-display': priceForm.submitted && !minNum.valid}">
        <span style="margin-left: 5px">to</span> $
        <input required pattern="(\d+)?\.?(\d+)?" [(ngModel)]="priceFilter.max" name="max" #maxNum="ngModel"
          [ngClass]="{'error-display': priceForm.submitted && !maxNum.valid}">
      </span>
      <button type="submit" class="gold-button">Go</button>
    </span>



    <div [hidden]="!priceForm.submitted || (minNum.valid && maxNum.valid)" class="error">Please enter a valid price
      range</div>
    <div *ngIf="priceFilter.showClearPrice" class="clear-price" (click)="priceFilter.clearPrice(priceForm)">Clear Price Range
    </div>

  </form>

</div>



<!-- Price range options -->
<ng-content></ng-content>