<div class="product" [title]="product.name" (click)="onClick()">

  <!-- Image Container -->
  <div class="img-container">
    <img *ngIf="product.image" [src]="'/Images/' + product.image">
  </div>

  <!-- Quick Look -->
  <div class="quick-look" (click)="onVideoPlayButtonClick(); $event.stopPropagation()">
    Quick Look
  </div>

  <!-- Product Info -->
  <div class="product-info">

    <!-- Product Name -->
    <div class="product-name">
      {{product.name}}
    </div>

    <!-- Stars -->
    <div class="stars">
      <span *ngFor="let i of [1,2,3,4,5]" style="padding-right: 2px">
        <i [class]="getStar(i)"></i>
      </span>

      <!-- Reviews -->
      <span class="reviews">
        {{product.reviewCount | number}} reviews
      </span>
    </div>

    <!-- Price -->
    <div class="price">
      <div *ngIf="product.maxPrice === 0">
        {{product.minPrice | currency:'USD'}}
      </div>
      <div *ngIf="product.maxPrice > 0">
        {{product.minPrice | currency:'USD'}} - {{product.maxPrice | currency:'USD'}}
      </div>
    </div>
  </div>
</div>