@import 'theme';

.product{
    text-align: center;
    position: relative;
    width: 300px;
    background: $color4;
    display: grid;
    cursor: pointer;
    @include shadow();
}

.product:hover > .quick-look {
    visibility: visible;
}
.img-container{
    height: 320px;
    line-height: 320px;
    
    img{
        width:auto;
        height:auto;
        max-width: 300px;
        max-height: 300px;
        vertical-align: middle;
    }
}
.quick-look {
    width: 300px;
    height: 30px;
    @include gradient(#ffdd81, $gold);
    position: absolute;
    top: 290px;
    font-size: 18px;
    color: #221901;
    text-align: center;
    line-height: 30px;
    // cursor: pointer;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.product-info{
    text-align: left;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    @include gradient($color3, $color4);
    .product-name {
        font-size: 16px;
        color: white;
        font-weight: bold;
        padding-bottom: 5px;
    }
    .stars {
        font-size: 15px;
        color: #ffba00;
        padding-bottom: 5px;
    }
    .reviews {
        font-size: 14px;
        color: #fa07de;
    }
    .price {
        color: #ffba00;
        font-size: 14px;
    }
}