<div class="product" [title]="product.name" (click)="onClick()">

  <!-- Image Container -->
  <div class="img-container">
    <div class="img" [style.background-image]="'url(/Images/' + product.image + ')'"></div>
  </div>

  <!-- Quick Look -->
  <div class="quick-look" (click)="onQuickLookButtonClick(); $event.stopPropagation()">
    Quick Look
  </div>

  <!-- Product Info -->
  <div class="product-info">

    <!-- Product Name -->
    <div class="product-name">
      {{product.name}}
    </div>

    <!-- Stars -->
    <div *ngIf="product.rating > 0" style="padding-bottom: 5px;">
      <stars [rating]="product.rating"></stars>

      <!-- Reviews -->
      <span class="reviews">
        {{product.totalReviews | number}} reviews
      </span>
    </div>

    <!-- Price -->
    <div class="price">
      <div *ngIf="product.maxPrice === 0">
        {{product.minPrice | currency:'USD'}}
      </div>
      <div *ngIf="product.maxPrice > 0">
        {{product.minPrice | currency:'USD'}} - {{product.maxPrice | currency:'USD'}}
      </div>
    </div>
  </div>
</div>