@import 'theme';

.product{
    text-align: center;
    position: relative;
    width: 300px;
    background: $color4;
    display: grid;
    cursor: pointer;
    @include shadow();
}

.product:hover > .quick-look {
    visibility: visible;
}
.img-container {
    margin: 10px 0;
    .img {
        width: 300px;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}
.quick-look {
    width: 300px;
    height: 30px;
    @include gradient(#ffdd81, $gold);
    position: absolute;
    top: 290px;
    font-size: 18px;
    color: #221901;
    text-align: center;
    line-height: 30px;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.product-info { 
    text-align: left;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    @include gradient($color3, $color4);
    .product-name {
        font-size: 16px;
        color: white;
        font-weight: bold;
        padding-bottom: 5px;
    }
    .reviews {
        font-size: 14px;
        color: $color5;
    }
    .price {
        color: $gold;
        font-size: 14px;
    }
}
@media (hover: none) { 
    .quick-look {
        display: none;
    }
 }
 @media screen and (max-width: 710px) {
    .quick-look {
        display: none;
    }
}