<div style="position: absolute; left: 50%;" [style.bottom.%]="positionBottom">
  <div *ngIf="pages && pages.length > 1" #container class="paginator-container">
    <ul>
      <li *ngFor="let page of pages; let idx = index" class="paginator" [style.background]="idx === currentPage ? '#f5f5f5' : '#666'"
        (click)="onPaginatorButtonClick(idx)"></li>
      <li *ngIf="showPlay" (click)="onPlayButtonClick()" style="margin: 0 10px 0 5px">
        <div class="play" *ngIf="!play" title="Play"></div>
        <i class="fas fa-pause pause" *ngIf="play" title="Pause"></i>
      </li>
    </ul>
  </div>
</div>
