$background-color: #1b1b1b;
$color1: #ab0395;
$color2: #550240;
$color3: #420033;
$color4: #1f0118;
$color5: #fa07de;
$gold:  #ffba00;

@mixin gradient($color...){
    background: nth(nth($color, 2), 1);
    background: linear-gradient($color);
}
@mixin shadow(){
    box-shadow: 4px 0 10px #020202;
}