@import 'theme';

.caption {
    margin: 12px 0 10px 10px;
}
.text {
    margin: 20px 5px 0 10px;
}
button {
    margin: 10px;
    float: right;
}
.purple-button {
    margin: 5px 10px;
}
h2 {
    margin: 20px 10px;
    color: $gold;
}
select {
    width: 300px;
    height: 24px;
    display: block;
    margin: auto;
    cursor: pointer;
}
select:disabled {
    color: #505050;
}
textarea, input[type="text"] {
    width: 288px;
    margin-left: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
textarea {
    height: 100px;
}