@import 'theme';

.caption {
    margin: 12px 0 10px 10px;
}
.text {
    margin: 20px 5px 0 10px;
}
button {
    margin: 10px;
    float: right;
}
.purple-button {
    margin: 5px 10px;
}
h2 {
    margin: 20px 10px;
    color: $gold;
}
select {
    width: 300px;
}
select:disabled {
    color: #505050;
}
textarea, input[type="text"] {
    width: 288px;
    border: 1px solid #393939;
    background-color: #282828;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}