@import 'theme';

.container{
    margin-top: 10px;
    display: inline-block;
}
.input-container {
    position: relative;
    padding: 0 0 0 28px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input {
    display: none;
}
input:checked ~ .checkmark {
    @include gradient($color1, $color2);
    border: 1px solid $color1;
}

input:disabled ~ .checkmark{
    background: #616161;
    border: 1px solid #818181;
}
input:disabled:checked ~ .checkmark{
    @include gradient(#a773a0, #53384c);
    border: 1px solid #a773a0;
}
input:disabled:checked ~ .checkmark:after{
    border: solid #b6b5b5;
    border-width: 0 3px 3px 0;
}
input:checked ~ .checkmark:after {
    display: block;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: rgb(235, 233, 233);
    border: 1px solid #ffffff;
    box-sizing: border-box;
}
.input-container:hover{
    input ~ .checkmark {
        border: 1px solid $color1;
    }
    input:disabled ~ .checkmark{
        border: 1px solid #818181;
    }
}
.disabled{
    cursor: default;
    color: #383838;
}