<div class="modal-background" (click)="close()">
    <div class="window" (click)="stopPropagation($event)">

        <!-- Title Bar -->
        <div class="title-bar">
            <div class="title">Manage List</div>
            <div class="close-button" (click)="close()" title="Close">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <!-- List Name -->
        <div class="caption">List Name:</div>
        <input class="dark" type="text" [(ngModel)]="name">


        <!-- Description -->
        <div class="caption">Description:</div>
        <textarea class="dark" [(ngModel)]="description"></textarea>


        <!-- Delete list -->
        <button class="gold-button delete-list-button" (click)="promptDelete = true">Delete List</button>
        <div *ngIf="promptDelete" style="margin: 10px;">
            <div>Are you sure you want to delete this list?</div>
            <div style="display: flex">
                <button class="gold-button prompt-button" (click)="onDelete()">Delete</button>
                <button class="gray-button prompt-button" (click)="promptDelete = false;">Cancel</button>
            </div>

        </div>


        <!-- Buttons -->
        <button class="gold-button" (click)="onSave()">Save</button>
        <button class="gray-button" (click)="close()">Close</button>
    </div>
</div>