<div class="modal-background" (mousedown)="close()">
    <div class="window" (mousedown)="stopPropagation($event)">

        <!-- Title Bar -->
        <div class="title-bar">
            <div class="title">Edit List</div>
            <div class="close-button" (click)="close()" title="Close">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <!-- List Name -->
        <div class="caption">List Name:</div>
        <input class="dark" type="text" [(ngModel)]="name">


        <!-- Description -->
        <div class="caption">Description:</div>
        <textarea class="dark" [(ngModel)]="description"></textarea>


        <!-- Buttons -->
        <button class="gold-button" (click)="onSave()">Save</button>
        <button class="gray-button" (click)="close()">Close</button>
    </div>
</div>