@import 'theme';

.caption {
    margin-bottom: 5px;
    color: $gold;
}
.delete-list-button {
    float: none;
    display: block;
    margin: auto;
    width: 300px;
    margin-top: 10px;
}
input[type=text], textarea {
    width: 290px;
}