@import 'theme';

.main-container {
    width: 100%;
    display: flex;
    .reviews-text {
        font-size: 14px;
        color: $color5;
    }
    .stars-container {
        width: 200px;
        position: relative;
        .rating {
            font-size: 50px;
            color: $gold;
            font-weight: bold;
        }
        .star-review-container {
            position: absolute;
            top: 9px;
            margin-left: 8px;
            text-align: center;
        }
        .review-button-container {
            margin: auto;
            text-align:center;
            margin-top: 24px;
        }
        .first-review {
            color: $color5;
            font-size: 14px;
            text-align: center;
        }
    }
    .bar-container {
        height: 15px;
        line-height: 15px;
        margin-bottom: 5px;
        margin-top: 7px;
        .star-text {
            font-size: 14px;
            color: white;
            display: inline-block;
        }
        .bar-base {
            width: 200px;
            height: 15px;
            background: #333333;
            display: inline-block;
            vertical-align: middle;
            border-radius: 10px;
            .bar {
                height: 15px;
                background: $gold;
                border-radius: 10px;
            }
        }
        .percent-text {
            display: inline-block;
            color: white;
            font-size: 14px;
            margin-left: 5px;
        }
    }
}