@import 'theme';


.content-container {
    margin-bottom: 100px;
}
.logo {
    margin-bottom: -13px;
    width: 180px;
    margin-left: 5px;
}
hr {
    width: 900px;
    border-color: #a6a6a6;
}
.img-container {
    width: 900px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    img {
        object-fit: cover;
        height: 300px;
    }
}
.content {
    width: 900px;
    margin: auto;
}
.text-container {
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}
.text {
    font-size: 20px;
    color: #c7c7c7;
}
a:visited, a:link {
    color: $color5;
}
.p1 {
    float: right;
}
.p2 {
    float: left; 
    margin-top: 30px;
}
h1 {
    text-align: center;
    color: #d6d6d6;
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 36px;
}
h2 {
    text-align: center;
    color: $gold;
    margin-bottom: 5px;
}

@media screen and (max-width: 900px) {
    hr {
        width: 99%;
    }
    .content {
        width: 100%;
    }
    .img-container {
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 600px) {
    .text-container {
        width: 90%;
        margin: auto;
    }
    .p1,.p2 {
        float: none;
        text-align: center;
    }
}