<div class="background-container">
    <!-- Search Bar -->
    <search-bar></search-bar>

    <div class="container">
        <div class="page-title">Your Account</div>

        <!-- Manage Account -->
        <div class="category-container">
            <div class="heading">Manage Account</div>

            <!-- Orders -->
            <a routerLink="/orders" class="page-container">
                <div class="title">Orders</div>
                <img src="assets/orders.png">
            </a>

            <!-- Profile -->
            <a routerLink="profile" class="page-container">
                <div class="title">Profile</div>
                <img src="assets/profile.png">
            </a>

            <!-- Lists -->
            <a routerLink="/lists" class="page-container">
                <div class="title">Lists</div>
                <img src="assets/lists.png">
            </a>

            <!-- Email Preferences -->
            <a routerLink="/preferences" class="page-container">
                <div class="title">Email Preferences</div>
                <img src="assets/email_preferences.png">
            </a>
        </div>


        <!-- Customer Service -->
        <div class="category-container">
            <div class="heading">Customer Service</div>

            <!-- Order Support -->
            <a href="https://www.clkbank.com" class="page-container">
                <div class="title">Order Support</div>
                <img src="assets/order_support.png">
            </a>

            <!-- Contact Us -->
            <a routerLink="/contact" class="page-container">
                <div class="title">Contact Us</div>
                <img src="assets/contact_us.png">
            </a>
        </div>
    </div>

    <!-- Footer -->
    <footer></footer>
</div>