@import 'theme';

.container {
    width: 480px;
    margin: auto;
    margin-top: 140px;
}
.page-title {
    font-size: 35px;
    color: $gold;
    margin-bottom: 30px;
}
.category-container {
    margin-left: 20px;
    margin-bottom: 40px;
    .heading {
        font-size: 14px;
        color: $gold;
        font-weight: bold;
    }
    .page-container {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        .title {
            font-size: 13px;
            color: #d7d7d7;
            margin-bottom: 10px;
        }
    }
}
