<!-- Temp select element to get width of categories select -->
<select #tmpSelect style="padding-left: 5px; position: absolute; visibility: hidden">
    <option [innerHtml]="selectedCategory.name"></option>
</select>
<div class="search-bar">

    <!-- Logo -->
    <div class="logo-container" (click)="onImageClick()" title="Home">
        <div class="logo"></div>
    </div>

    <div class="menu-search-container">
        <div class="category-menu-button" (mouseenter)="menu.showMenu = true" (mouseleave)="menu.showMenu = false"
            (click)="menu.showMenu = !menu.showMenu">
            <i class="fas fa-bars" style="margin-right: 8px"></i>
            <span class="categories-text">Categories</span>
            <menu #menu (click)="$event.stopPropagation()" [categories]="categories"></menu>
        </div>
        <div class="search-container">
            <div style="display: flex">
                <select #select class="category-dropdown" [(ngModel)]="selectedCategory" name="categories"
                    (change)="setSelectElementWidth()">
                    <option *ngFor="let category of searchCategories" [ngValue]="category">{{category.name}}</option>
                </select>
                <div class="input-container" style="flex: 1">
                    <input #search type="text" class="main-input" placeholder="Search" [value]="getQuery()"
                        (keydown)="onSearchKeydown($event, search.value)" (blur)="onInputBlur()">
                    <input #mobileSearch type="text" class="mobile-input" [placeholder]="getPlaceHolder()"
                        [value]="getQuery()" (keydown)="onSearchKeydown($event, mobileSearch.value)">

                    <div *ngIf="searchSuggestions.length > 0" class="search-suggestion-box">
                        <div *ngFor="let suggestion of searchSuggestions; let i = index" class="suggestion-item" (mousedown)="suggestionClicked = true" (click)="setQuery(suggestion)" [ngClass]="{'selected-item' : searchSuggestionIndex == i}">{{suggestion}}</div>
                    </div>
                </div>
                <div class="search-button-container">
                    <div class="search-button" (click)="setQuery(search.value || mobileSearch.value)">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div *ngIf="isSignedIn" class="customer-name">Hello, {{firstName}}</div>
        <div class="menu-container">
            <div class="account-container">

                <div class="menu arrow">Account</div>
                <div class="dropdown-menu dropdown-menu-arrow">
                    <a *ngIf="!isSignedIn" routerLink="/sign-in">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Sign In</span>
                    </a>
                    <a routerLink="/account">
                        <i class="fas fa-user"></i>
                        <span>Your Account</span>
                    </a>
                    <a routerLink="/orders">
                        <i class="fas fa-file-invoice"></i>
                        <span>Your Orders</span>
                    </a>
                    <a routerLink="/lists/somelistid">
                        <i class="fas fa-clipboard-list"></i>
                        <span>Your Lists</span>
                    </a>
                    <a routerLink="/preferences">
                        <i class="fas fa-envelope"></i>
                        <span>Your Email Preferences</span>
                    </a>
                    <a *ngIf="isSignedIn" routerLink="/sign-in" (click)="onSignOut()">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Sign Out</span>
                    </a>
                    <a *ngIf="!isSignedIn" routerLink="/create-account">
                        <i class="fas fa-user-plus"></i>
                        <span>Create Account</span>
                    </a>
                </div>
            </div>

            <a routerLink="/orders">Orders</a>
            <a href="https://www.clkbank.com" class="icon">Order support</a>
        </div>
    </div>

</div>