<!-- Temp select element to get width of categories select -->
<select #tmpSelect style="padding-left: 5px; position: absolute; visibility: hidden">
    <option [innerHtml]="selectedCategory.name"></option>
</select>
<div class="search-bar">

    <!-- Logo -->
    <div class="img-container" (click)="onImageClick()" title="Home">
        <div class="logo"></div>
    </div>

    <div class="menu-search-container">
        <div class="category-menu-button" (mouseenter)="menu.showMenu = true" (mouseleave)="menu.showMenu = false"
            (click)="menu.showMenu = !menu.showMenu">
            <i class="fas fa-bars" style="margin-right: 8px"></i>
            <span class="categories-text">Categories</span>
            <menu #menu (click)="$event.stopPropagation()" [categories]="categories"></menu>
        </div>
        <div class="search-container">
            <form (ngSubmit)="onSearchButtonClick(search.value, selectedCategory.id)" style="display: flex">
                <select #select [(ngModel)]="selectedCategory" name="categories">
                    <option *ngFor="let category of searchCategories" [ngValue]="category">{{category.name}}
                    </option>
                </select>
                <div class="input-container" style="flex: 1">
                    <input #search type="text" placeholder="Search" [value]="query">
                </div>
                <div class="search-button-container">
                    <div class="search-button" (click)="onSearchButtonClick(search.value, selectedCategory.id)">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="icon-container">
        <a routerLink="/about" class="icon" title="About us">
            <i class="fas  fa-lg fa-info-circle"></i>
        </a>
        <a href="https://www.clkbank.com" class="icon" title="Order support">
            <i class="fas  fa-lg fa-question-circle"></i>
        </a>
    </div>
</div>