@import 'theme';

.search-bar{
    @include gradient($color1, $color2);
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 50;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    display: flex;
}
.menu-search-container {
    height: 100%;
    margin: auto;
    width: 922px;
    max-width: 922px;
}
.search-container{
    height: 32px;
    top: 14px;
    max-width: 800px;
    margin-left: 110px;
    position: relative;
}
select{
    height: 31px;
    border: 1px solid #ababab;
    background: #dddddd;
    cursor: pointer;
    border-radius: 100px 0 0 100px;
    padding-left: 5px;
    outline: none;
    option{
        background: #FFFFFF;
    }
}
.categories-text {
    color: white;
}
.search-button-container {
    line-height: 31px;
    text-align: center;
}
.search-button{
    font-size: 18px;
    background: $gold;
    width: 50px;
    border-radius: 0 100px 100px 0;
    margin-left: -1px;
    cursor: pointer;
}
.search-button:active {
    background: #ffd971;
}
.input-container{
    width: 100%;
}
input{
    border: 1px solid #ababab;
    margin-left: -1px;
    padding-left: 10px;
    width: 100%;
    height: 31px;
    font-size: 18px;
    color: #5A5A5A;
    box-sizing:border-box;
}
.category-menu-button{
    position: relative;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #ffba00;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}
.img-container {
    min-width: 175px;
    min-height: 60px;
    margin: 0 25px 0 25px;
    cursor: pointer;
    .logo {
        background-image: url(../../../../assets/Logo.png);
        height: 60px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.icon-container {
    height: 60px;
    flex-shrink: 0;
    margin-right: 22px;
    margin-left: 22px;
}
.icon {
    position: relative;
    float: right;
    line-height: 60px;
    color: #ffba00;
    cursor: pointer;
    margin-right: 25px;
}

@media screen and (max-width: 1280px) {
    .icon-container {
        margin-right: 10px;
        margin-left: 10px;
    }
    .icon {
        margin-right: 10px;
    }
}
@media screen and (max-width: 1024px) {
    .categories-text {
        display: none;
    }
    .category-menu-button{
        width: 15px;
    }
    .search-container{
        margin-left: 25px;
    }
    .img-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 920px) {
    .category-menu-button{
        display: none;
    }
    .search-container{
        margin-left: 0;
    }
}
@media screen and (max-width: 800px) {
    .icon-container {
        display: none;
    }
    .search-container{
        margin-right: 10px;
    }
    select{
        width: 44px !important;
    }
}
@media screen and (max-width: 600px) {
    .img-container {
        min-width: 21px;
        min-height: 21px;
        .logo {
            background-image: url(../../../../assets/Shack.png);
        }
    }
}