<div class="background-container">
  <search-bar #searchBar></search-bar>

  <!-- No match -->
  <div *ngIf="totalProducts === 0" class="no-match-container">
    <div>
      <i class="fas fa-exclamation-circle"></i>
      <span [innerHtml]="query ? 'Sorry, no products matched ' + '&quot;' +  query + '&quot;' : 'No results found'">
      </span>

    </div>
    <ul *ngIf="query">
      <li>Check your spelling</li>
      <li>Use different keywords and try again</li>
    </ul>
  </div>

  <div *ngIf="totalProducts > 0" style="margin-bottom: 110px; ">
    <!-- Results -->
    <div *ngIf="!showFilters" class="results-container">
      <div class="results-display">{{results}}</div>
      
      <!-- Sort -->
      <div class="dropdown-container" style="right: 0">
        <select [(ngModel)]="selectedSortOption"
          (change)="queryParametersService.updateUrl('/search', {add: [{name: 'sort', value: selectedSortOption.value}], remove: ['page']})">
          <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption">Sort by {{sortOption.name}}</option>
        </select>
      </div>

      <!-- Per Page -->
      <div class="dropdown-container" style="right: 200px;">
        <select [(ngModel)]="productsPerPage"
          (change)="queryParametersService.updateUrl('/search', {add: [{name: 'limit', value: productsPerPage.value}], remove: ['page']})">
          <option *ngFor="let perPageOption of perPageOptions" [ngValue]="perPageOption">{{perPageOption.name}} Products
            Per Page</option>
        </select>
      </div>
      <button class="filter-button" (click)="showFilters = true">Sort & Filter</button>
    </div>

    <!-- Done button -->
    <button *ngIf="showFilters" class="done-button" (click)="showFilters = false">Done</button>

    <div class="filters-products-container">
      <!-- Filters -->
      <div class="filters-container" [ngClass]="{'display-block': showFilters}">
        <div *ngIf="showFilters">
          <!-- Per Page -->
          <filter #perPage [caption]="'Products Per Page'">
            <radio-filter-options [filter]="perPage" [options]="perPageOptions" [selectedOption]="productsPerPage" [paramName]="'limit'">
            </radio-filter-options>
          </filter>

          <!-- Sort -->
          <filter #sortFilter [caption]="'Sort By'">
            <radio-filter-options [filter]="sortFilter" [options]="sortOptions" [selectedOption]="selectedSortOption" [paramName]="'sort'"></radio-filter-options>
          </filter>
        </div>

        <category-filter #categoryFilter [currentCategory]="currentCategory" [currentNiche]="currentNiche"
          [query]="currentQuery" [categories]="categories" [caption]="'Categories'" [showContent]="!showFilters"
          [show]="!showFilters">
          <category-filter-content [categoryFilter]="categoryFilter" (onChange)="searchBar.setSelectElementWidth()"></category-filter-content>
        </category-filter>

        <div *ngFor="let filter of filters; trackBy:trackFilter">
          <!-- Price Filter -->
          <price-filter #priceFilter *ngIf="filter.caption == 'Price'" [caption]="filter.caption" [showContent]="!showFilters" [show]="!showFilters">
            <price-filter-content [priceFilter]="priceFilter">
              <checkbox-filter-options [filter]="priceFilter" [options]="filter.labels"></checkbox-filter-options>
            </price-filter-content>
          </price-filter>

          <!-- Checkbox Filter -->
          <filter #checkboxFilter *ngIf="filter.caption != 'Price'" [caption]="filter.caption" [showContent]="!showFilters" [show]="!showFilters">
            <checkbox-filter-options [filter]="checkboxFilter" [options]="filter.labels"></checkbox-filter-options>
          </filter>
        </div>
      </div>

      <!-- Products -->
      <div *ngIf="!showFilters" class="products-container">
        <ul>
          <li *ngFor="let product of products; trackBy:trackProduct">
            <product [product]="product"></product>
          </li>
        </ul>

        <!-- Pages -->
        <paging [pageCount]="pageCount" [currentPage]="currentPage" [url]="'/search'"></paging>

      </div>
    </div>

  </div>
  <footer></footer>
</div>
<quick-look *ngIf="modalService.quickLook.show && !modalService.mediaViewer.show"></quick-look>
<media-viewer *ngIf="modalService.mediaViewer.show"></media-viewer>