<div class="background-container">
  <!-- Search Bar -->
  <search-bar></search-bar>

  <div class="reviews-container">
    <div class="header">Customer Reviews</div>

    <div class="product-container">
      <!-- Image -->
      <div>
        <div class="image-background" (click)="backToItem()">
          <div *ngIf="product.image" class="img" [style.background-image]="'url(/Images/' + product.image + ')'"></div>
        </div>
        <div class="purple-link" (click)="backToItem()">Back to item</div>
      </div>


      <!-- Product Info -->
      <div class="product-info-container">

        <!-- Title -->
        <div class="product-title" (click)="backToItem()">
          {{product.title}}
        </div>

        <!-- Price -->
        <div class="price">
          <div *ngIf="product.maxPrice === 0">
            {{product.minPrice | currency:'USD'}}
          </div>
          <div *ngIf="product.maxPrice > 0">
            {{product.minPrice | currency:'USD'}} -
            {{product.maxPrice | currency:'USD'}}
          </div>
        </div>


        <!-- Review summary -->
        <div class="review-summary-container">
          <review-summary [product]="product"></review-summary>
        </div>
      </div>
    </div>


    <!-- Positive & Negagive Reviews -->
    <div *ngIf="positiveReview || negativeReview" class="positive-negative-container">

      <!-- Postive Review -->
      <div *ngIf="positiveReview" class="helpful-review">

        <!-- Header -->
        <div class="helpful-review-header">
          Most helpful positive review
        </div>

        <!-- Likes -->
        <div class="likes">{{positiveReview.likes}} customers found this helpful</div>

        <!-- Review -->
        <review [review]="positiveReview" [showReviewHelpful]="false"></review>
      </div>



      <!-- Negative Review -->
      <div *ngIf="negativeReview" class="helpful-review">

        <!-- Header -->
        <div class="helpful-review-header">
          Most helpful negative review
        </div>

        <!-- Likes -->
        <div class="likes">{{negativeReview.likes}} customers found this helpful</div>

        <!-- Review -->
        <review [review]="negativeReview" [showReviewHelpful]="false"></review>
      </div>
    </div>


    <!-- Showing and Sort -->
    <div id="reviews" *ngIf="reviews.length > 0">
      <div class="review-count">
        Showing {{reviewsStart}} - {{reviewsEnd}} of {{product.totalReviews}} reviews
      </div>
      <review-sort [url]="product.urlTitle + '/reviews'" [sortOptions]="sortOptions"></review-sort>
    </div>


    <!-- Reviews -->
    <div *ngFor="let review of reviews; trackBy:trackReview">
      <review [review]="review"></review>
    </div>

    <!-- Pages -->
    <div *ngIf="reviews.length > 0" style="margin-top: 20px;">
      <paging [pageCount]="pageCount" [currentPage]="currentPage" [url]="product.urlTitle + '/reviews'"></paging>
    </div>

    <div *ngIf="product && product.id && reviews.length == 0" class="no-reviews">
      No reviews found
    </div>

  </div>


  <!-- Footer -->
  <footer></footer>
</div>

<report-review *ngIf="modalService.reportReview.show"></report-review>