@import 'theme';

.container {
    width: 1170px;
    margin: auto;
    margin-top: 140px;
    display: flex;
}
.lists-container {
    width: 210px;
    word-wrap: break-word;
    word-break: break-word;
}
.list {
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 10px;
}
.description {
    color: #cccccc;
    margin-top: 10px;
    font-size: 14px;
}
.owner {
    color: $gold;
    font-size: 12px;
    margin-top: 4px;
}
.image-background {
    width: 150px;
    height: 150px;
    background: #181818;
    border: 1px solid #292929;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .img {
        width: 130px;
        height: 130px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
}
.product-title {
    width: 400px;
    margin: 10px 0 10px;
    font-size: 18px;
    color: white;
    word-wrap: break-word;
    word-break: break-word;
}
.rating-container {
    margin-bottom: 5px;
}
.price {
    color: $gold;
    font-size: 18px;
    margin-top: 10px;
}
.reviews-text {
    font-size: 14px;
    color: $color5;
}
.list-title {
    font-size: 14px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}
.list-title:hover {
    text-decoration: underline;
}
.selected-list {
    color: $gold;
}
h2 {
    color: $gold;
}
.total-items {
    color: $color1;
    font-size: 14px;
    margin-top: 10px;
}

.product-container {
    margin-top: 30px;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 20px;
}
.product-info {
    margin-left: 20px;
    flex: 1;
}
.heading-container {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #3d3d3d;
    .main-title {
        font-size: 35px;
        color: $gold;
        width: 400px;
        display: inline-block;
    }
    select {
        height: 24px;
        margin-left: 5px;
    }
    .sort-link-container {
        display: flex;
        float: right;
        margin-top: 10px;
        .link {
            font-size: 14px;
            color: $color1;
            text-decoration: underline;
            cursor: pointer;
            margin: 8px 12px 0 10px;
        }
        .link:hover {
            color: $color5;
        }
    }
}
.buttons-container {
    width: 205px;
}
.gray {
    font-size: 14px;
    color: #b5b5b5;
}
.collaborator {
    color: $gold;
    font-size: 14px;
    margin-top: 5px;
}
.arrow::after {
    content: "";
    border-top: solid 8px #dcdcdc;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    position: relative;
    top: 12px;
    left: 5px;
}
.product-removed-text {
    color: #cccccc;
    font-size: 14px;
}
.undo-text {
    color: $color5;
    font-size: 14px;
    cursor: pointer;
}
.undo-text:hover {
    text-decoration: underline;
}
.moved-to-text {
    color: $gold;
    cursor: pointer;
}
.moved-to-text:hover {
    text-decoration: underline;
}

.popup {
    min-width: 100px;
    min-height: 24px;
    padding-top: 5px;
    position: absolute;
    .popup-item {
        font-size: 13px;
        height: 22px;
        line-height: 22px;
        padding-left: 5px;
        user-select: none;
        cursor: pointer;
    }
    .popup-item:hover {
        background: #4a4a4a;
    }
}
.fa-check {
    color: #00ff00;
    margin-right: 5px;
}


