@import 'theme';

.container {
    width: 1170px;
    margin: auto;
    margin-top: 140px;
    display: flex;
}
.lists-container {
    width: 210px;
    word-wrap: break-word;
    word-break: break-word;
}
.list {
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 10px;
}
.description {
    color: #cccccc;
    margin-top: 10px;
    font-size: 14px;
}
.image-background {
    width: 150px;
    height: 150px;
    background: #181818;
    border: 1px solid #292929;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .img {
        width: 130px;
        height: 130px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
}
.product-title {
    width: 400px;
    margin: 10px 0 10px;
    font-size: 18px;
    color: white;
    word-wrap: break-word;
    word-break: break-word;
}
.rating-container {
    margin-bottom: 5px;
}
.price {
    color: $gold;
    font-size: 18px;
    margin-top: 10px;
}
.reviews-text {
    font-size: 14px;
    color: $color5;
}
.list-title {
    font-size: 14px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}
.list-title:hover {
    text-decoration: underline;
}
.selected-list {
    color: $gold;
}
h2 {
    color: $gold;
}
.total-items {
    color: $color1;
    font-size: 14px;
    margin-top: 10px;
}

.product-container {
    margin-top: 30px;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 20px;
}
.product-info {
    margin-left: 20px;
    flex: 1;
}
.heading-container {
    width: 100%;
    position: relative;
    border-bottom: 1px solid gray;
    .main-title {
        font-size: 35px;
        color: $gold;
        width: 500px;
        display: inline-block;
    }
    .links-sort-container {
        width: 340px;
        height: 40px;
        float: right;
        select {
            position: absolute;
            height: 24px;
            bottom: 5px;
            right: 0;
        }
        
        .link {
            position: absolute;
            bottom: 5px;
            margin-right: 200px;
            font-size: 14px;
            color: $color1;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}