@import 'theme';

.container {
    width: 1170px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}
.lists-container {
    width: 210px;
    word-wrap: break-word;
    word-break: break-word;
}
.list {
    padding: 0 0 5px 5px;
    
}
.selected-list {
    background: $color3;
}
.list:not(.selected-list):hover {
    background: #2d2d2d;
    cursor: pointer;
}
.description {
    color: #cccccc;
    margin-top: 5px;
    font-size: 14px;
}
.owner {
    color: $gold;
    font-size: 12px;
    margin-top: 5px;
}
.image-background {
    width: 150px;
    height: 150px;
    background: #181818;
    border: 1px solid #292929;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .img {
        width: 130px;
        height: 130px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
}
.product-title {
    width: 400px;
    margin: 10px 0 10px;
    font-size: 18px;
    color: white;
    word-wrap: break-word;
    word-break: break-word;
}
.rating-container {
    margin-bottom: 5px;
}
.price {
    color: $gold;
    font-size: 18px;
    margin-top: 10px;
}
.reviews-text {
    font-size: 14px;
    color: $color5;
}

.title {
    font-size: 18px;
    margin-top: 20px;
    padding-top: 5px;
    color: white;
    text-decoration: underline;
}
h2 {
    color: $gold;
}
.total-items {
    color: $color1;
    font-size: 14px;
    margin-top: 5px;
}

.product-container {
    margin-top: 30px;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 20px;
}
.product-info {
    margin-left: 20px;
    flex: 1;
}
.link {
    font-size: 14px;
    color: #b18100;
    text-decoration: underline;
    cursor: pointer;
    margin: 8px 0 0 22px;
    float: right;
}
.link:hover {
    color: $gold;
}
.heading-container {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #3d3d3d;
    .main-title {
        font-size: 35px;
        color: $gold;
        width: 740px;
        display: inline-block;
    }
    select {
        height: 24px;
        float: right;
        margin-top: 10px;
    }
    // .sort-link-container {
    //     display: flex;
    //     float: right;
    //     margin-top: 10px;
        
    // }
}
.buttons-container {
    width: 205px;
}
.gray {
    font-size: 14px;
    color: #b5b5b5;
}
.collaborator {
    color: $gold;
    font-size: 14px;
    margin-top: 5px;
}
.product-removed-text {
    color: #cccccc;
    font-size: 14px;
}
.undo-text {
    color: $color5;
    font-size: 14px;
    cursor: pointer;
}
.undo-text:hover {
    text-decoration: underline;
}
.moved-to-text {
    color: $gold;
    cursor: pointer;
}
.moved-to-text:hover {
    text-decoration: underline;
}
.fa-check {
    color: #00ff00;
    margin-right: 5px;
}
.gray-button {
    width: 100px;
}
.gray-button:nth-child(2){
    margin-left: 10px;
}