<div class="modal-background" (click)="close()">
  <div class="window" (click)="stopPropagation($event)">
    <div class="title-bar">
      <div [innerHtml]="title" class="title"></div>
      <div class="close-button" (click)="close()" title="Close">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="media-container">
      <iframe *ngIf="currentMedia.type == 'Video'" [src]="desanitize(currentMedia.url)" frameborder="0"></iframe>
      <div *ngIf="currentMedia.type == 'Image'" class="image"
        [style.background-image]="'url(Images/'+ currentMedia.url + ')'"></div>

      <arrows [showLeftArrow]="index != 0" [showRightArrow]="index != media.length - 1"
        (onArrowClick)="showNextMedia($event)"></arrows>
    </div>
    <paginator [pages]="media" [currentPage]="index" (onPaginatorClick)="showMedia($event)"></paginator>
  </div>
</div>