@import 'theme';

.window{
    width: 800px;
    position: relative;
}
.video-container{
    width: 100%; 
    height: 600px; 
    background: black; 
    margin: auto; 
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #2f2f2f;
    border-top: none;
}
iframe{
    position: relative; 
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    background: $background-color;
}
@media screen and (max-width: 800px) {
    .video-container{
        height: 75vw; 
    }
}