<div class="background-container">
    <!-- Search Bar -->
    <search-bar></search-bar>

    <div class="container">
        <div class="page-title" [innerHTML]="displayType == 'product'? 'Search results' : 'Your Orders'"></div>
        <div class="top-container">
            <div *ngIf="displayType == 'order' && !search" class="flex-container">
                <div class="gray-text" style="margin-right: 5px;">{{orders.length}}
                    order{{orders.length == 1 ? '' : 's'}} placed in</div>
                <popup-button [title]="selectedFilter.key" [items]="filter" (onClick)="onFilterClick($event)"
                    [onClose]="event" [defaultIndex]="getDefaultIndex()"></popup-button>
            </div>

            <div *ngIf="displayType == 'product' || search" class="flex-container">
                <div class="gray-text">{{count}} {{displayType == 'order' ? 'order' : 'product'}}{{count == 1 ? '' : 's'}} matching
                    "{{search}}"</div>
            </div>

            <div class="search-container">
                <button (click)="onSearch(searchInput.value)" class="gray-button" style="float: right;">Search
                    Orders</button>
                <div style="float: right; position: relative;">
                    <i class="fas fa-search"></i>
                    <input #searchInput class="dark" type="text" placeholder="Search orders"
                        (keydown)="onSearchKeydown($event, searchInput.value)">
                </div>

            </div>
        </div>

        <!-- Display type: Order -->
        <a *ngIf="displayType == 'order' && !search" href="https://www.clkbank.com">Order support</a>
        <div class="link" *ngIf="displayType == 'product' || search" (click)="resetUrl()">Your Orders</div>

        <div *ngIf="displayType == 'order'">
            <div *ngFor="let order of orders" class="order-container">
                <div class="gray-text" style="display: inline-block;">Ordered on {{order.date}}</div>
                <div class="gray-text" style="float: right">Order number: {{order.orderNumber}}</div>
                <div class="order-container-border">

                    <!-- Products -->
                    <div>
                        <div *ngFor="let product of order.products" class="products-container">
                            <div class="product-container">
                                <div class="image-background">
                                    <img [src]="product.image ? '/Images/' + product.image : 'assets/no_image.png'">
                                </div>
                                <div class="product-info">
                                    <div class="caption">{{product.title}}</div>
                                    <div class="gray-text" style="margin-bottom: 5px;">{{product.type}}</div>
                                    <div *ngIf="product.quantity > 0" class="gray-text">Quantity: {{product.quantity}}</div>
                                    <div class="gold-font" style="margin-top: 5px;">{{product.price | currency:'USD'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr>

                    <!-- Purchase info -->
                    <div class="purchase-info-container">


                        <div class="purchase-info">
                            <div class="caption" style="display: inline-block">Payment Method</div>
                            <img [src]="'assets/'+ order.paymentMethodImg" class="payment-method-img"
                                [title]="order.paymentMethod">
                            <div class="caption" style="margin-top: 20px;">Order Summary</div>

                            <div class="info">
                                <div class="gray-text" style="display: inline-block">Item(s) Subtotal:</div>
                                <div class="gold-font" style="float: right">{{order.subtotal | currency:'USD'}}</div>
                            </div>

                            <div class="info">
                                <div class="gray-text" style="display: inline-block">Shipping & Handling:</div>
                                <div class="gold-font" style="float: right">{{order.shippingHandling | currency:'USD'}}
                                </div>
                            </div>


                            <div class="info">
                                <div class="gray-text" style="display: inline-block">Discount:</div>
                                <div class="gold-font" style="float: right">-{{order.discount | currency:'USD'}}</div>
                            </div>


                            <div class="info">
                                <div class="gray-text" style="display: inline-block">Tax:</div>
                                <div class="gold-font" style="float: right">{{order.tax | currency:'USD'}}</div>
                            </div>


                            <div class="info">
                                <div class="gold-font" style="display: inline-block">Total:</div>
                                <div class="gold-font" style="float: right">{{order.total | currency:'USD'}}</div>
                            </div>
                        </div>

                        <!-- Button container -->
                        <div class="button-container">
                            <button class="gold-button"
                                (click)="onPublisherButtonClick(order.hoplink)">Visit
                                Publisher’s Page</button>
                            <button class="gray-button" (click)="onWriteReviewClick(order.productUrlTitle)">Write a
                                review</button>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <!-- Display type: product -->
        <div *ngIf="displayType == 'product'" class="search-results-container">
            <div *ngFor="let product of products" class="product-container">
                <div class="image-background">
                    <img [src]="product.image ? '/Images/' + product.image : 'assets/no_image.png'">
                </div>
                <div class="product-info">
                    <div class="order-detail-container">
                        <span class="gold-font order-detail" (click)="onSearch(product.orderNumber)">Order Details</span>
                        <span class="gray-text order-detail">Ordered on {{product.date}}</span>
                        <span class="gray-text">Order number: {{product.orderNumber}}</span>
                    </div>

                    <div class="caption">{{product.title}}</div>
                    <button class="gold-button" (click)="onPublisherButtonClick(product.hoplink)">Visit Publisher's
                        Page</button>
                </div>
            </div>

        </div>


    </div>

    <!-- Footer -->
    <footer></footer>

</div>