<div class="background-container">
  <search-bar></search-bar>

  <div class="container">
    <div class="product-container">
      <!-- Media -->
      <div *ngIf="product.media.length > 0">
        <media-group [media]="product.media" [productName]="product.name"></media-group>
      </div>

      <div style="margin: auto; display: flex">
        <!-- Product Image -->
        <div class="image-container">
          <div class="image-background">
            <img [src]="'/Images/' + product.image">
          </div>
        </div>

        <!-- Product Info -->
        <div class="info-container">
          <!-- Title -->
          <div class="product-title">
            {{product.name}}
          </div>

          <!-- Rating & Reviews -->
          <div *ngIf="product.rating > 0" class="rating-container">
            <stars [rating]="product.rating"></stars>
            <span class="reviews-text">
              {{product.totalReviews | number}} reviews
            </span>
          </div>
          <div *ngIf="product.rating == 0" class="first-review-link">
              Be the first to review this item
          </div>

          <!-- Price -->
          <div class="price">
            <div *ngIf="product.maxPrice === 0">
              {{product.minPrice | currency:'USD'}}
            </div>
            <div *ngIf="product.maxPrice > 0">
              {{product.minPrice | currency:'USD'}} -
              {{product.maxPrice | currency:'USD'}}
            </div>
          </div>

          <button style="margin: 10px 0;" class="gold-button" (click)="onPublisherButtonClick()">
            Visit Publisher’s Page To Buy
          </button>


          <!-- Description -->
          <div class="description">
            {{product.description}}
          </div>

          <!-- Add to list button -->
          <div class="purple-button" (click)="modalService.addToList.show=true">Add to List</div>

          <!-- Share button -->
          <div style="margin-left: 25px;" class="purple-button">
            Share
          </div>

          <!-- Report item -->
          <div class="purple-link" style="float: right;" (click)="modalService.reportItem.show = true">
            <i style="margin-right: 5px;" class="fas fa-flag"></i>
            Report this item
          </div>
        </div>
      </div>
    </div>

    <!-- Contents -->
    <table>
      <tr>
        <th>Here’s what you get</th>
        <tH *ngFor="let pricePoint of product.content.pricePoints">
          {{pricePoint.price | currency:'USD'}} - {{pricePoint.frequency}}
        </tH>
      </tr>
      <tr *ngFor="let item of product.content.items">
        <td>
          <img [src]="'/assets/' + item.contentType + '.png'">
          {{item.name}}
        </td>
        <td *ngFor="let pricePoint of product.content.pricePoints; let i = index">
          <i *ngIf="hasPricePoint(item.priceIndices, i)" class="fas fa-check"></i>
        </td>
      </tr>
    </table>

    <!-- Products sliders -->
    <div *ngFor="let productSlider of product.productSliders" class="products-slider-background">
      <products-slider [caption]="productSlider.caption" [products]="productSlider.products"></products-slider>
    </div>


    <div class="ratings-container">
      <div [innerHtml]="product.rating > 0 ? 'Customer Reviews' : 'No Customer Reviews'" class="caption"></div>

      <!-- Review Summary -->
      <review-summary [product]="product"></review-summary>
    </div>


    <!-- Reviews -->
    <div *ngIf="product.rating > 0" class="reviews">
      
      <div>
        <div class="review-count">
          Showing 1-{{product.reviews.length}} of {{product.totalReviews | number}} reviews
        </div>
        <review-sort [url]="product.name"></review-sort>
      </div>
      

      <!-- View all reviews button -->
      <div *ngIf="product.totalReviews > 10" class="purple-button" style="margin-bottom: 20px;" (click)="onViewAllReviewsClick()">
        View all {{product.totalReviews | number}} reviews
      </div>

      <!-- Review -->
      <div *ngFor="let review of product.reviews">
        <review [review]="review"></review>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <div style="margin-top: 134px;">
    <footer></footer>
  </div>
</div>
<report-review *ngIf="modalService.reportReview.show"></report-review>
<report-item *ngIf="modalService.reportItem.show"></report-item>
<add-to-list *ngIf="modalService.addToList.show" [product]="product"></add-to-list>
<create-list *ngIf="modalService.createList.show"></create-list>
<quick-look *ngIf="modalService.quickLook.show && !modalService.mediaViewer.show"></quick-look>
<media-viewer *ngIf="modalService.mediaViewer.show"></media-viewer>