<div class="background-container">
  <search-bar></search-bar>

  <div class="container">
    <div class="product-container">
      <!-- Media -->
      <div *ngIf="product.media.length > 0">
        <media-group [media]="product.media" [productName]="product.name"></media-group>
      </div>

      <div style="margin: auto; display: flex">
        <!-- Product Image -->
        <div class="image-container">
          <div class="image-background">
            <img [src]="'/Images/' + product.image">
          </div>
        </div>

        <!-- Product Info -->
        <div class="info-container">
          <!-- Title -->
          <div class="product-title">
            {{product.name}}
          </div>

          <!-- Rating & Reviews -->
          <div *ngIf="product.rating > 0" class="rating-container">
            <stars [rating]="product.rating"></stars>
            <span class="reviews-text">
              {{product.totalReviews | number}} reviews
            </span>
          </div>
          <div *ngIf="product.rating == 0" class="first-review-link">
              Be the first to review this item
          </div>

          <!-- Price -->
          <div class="price">
            <div *ngIf="product.maxPrice === 0">
              {{product.minPrice | currency:'USD'}}
            </div>
            <div *ngIf="product.maxPrice > 0">
              {{product.minPrice | currency:'USD'}} -
              {{product.maxPrice | currency:'USD'}}
            </div>
          </div>

          <button style="margin: 10px 0;" class="gold-button" (click)="onPublisherButtonClick()">
            Visit Publisher’s Page To Buy
          </button>


          <!-- Description -->
          <div class="description">
            {{product.description}}
          </div>

          <!-- Add to list button -->
          <div class="purple-button" (click)="modalService.addToList.show=true">Add to List</div>

          <!-- Share button -->
          <div style="margin-left: 25px;" class="purple-button">
            Share
          </div>

          <!-- Report item -->
          <div class="purple-link" style="float: right;" (click)="modalService.reportItem.show = true">
            <i style="margin-right: 5px;" class="fas fa-flag"></i>
            Report this item
          </div>
        </div>
      </div>
    </div>



    <!-- Contents -->
    <table>
      <tr>
        <th>Here’s what you get</th>
        <tH *ngFor="let pricePoint of product.content.pricePoints">
          {{pricePoint.price | currency:'USD'}} - {{pricePoint.frequency}}
        </tH>
      </tr>
      <tr *ngFor="let item of product.content.items">
        <td>
          <img [src]="'/assets/' + item.contentType + '.png'">
          {{item.name}}
        </td>
        <td *ngFor="let pricePoint of product.content.pricePoints; let i = index">
          <i *ngIf="hasPricePoint(item.priceIndices, i)" class="fas fa-check"></i>
        </td>
      </tr>
    </table>

    <!-- Products sliders -->
    <div *ngFor="let productSlider of product.productSliders" class="products-slider-background">
      <products-slider [caption]="productSlider.caption" [products]="productSlider.products"></products-slider>
    </div>


    <div class="ratings-container">
      <div [innerHtml]="product.rating > 0 ? 'Customer Reviews' : 'No Customer Reviews'" class="caption"></div>

      <div class="flex-container">

        <!-- Stars and rating -->
        <div class="stars-container" [style.margin]="product.rating == 0 ? 'auto' : 'none'">

          <div *ngIf="product.rating > 0">
              <span class="rating">{{product.rating | number:'1.1-1'}}</span>
              <span class="star-review-container">
                <stars [rating]="product.rating"></stars>
                <div class="reviews-text" style="margin-top: 5px">
                  {{product.totalReviews | number}} reviews
                </div>
              </span>
          </div>

          <div *ngIf="product.rating == 0" class="first-review">
              Be the first to review this item!
          </div>
          

          <div class="review-button-container">
            <button class="gold-button">
              Write a Review
            </button>
          </div>
        </div>

        <!-- Bars -->
        <div *ngIf="product.rating > 0" style="flex: 1">
          <div *ngFor="let stat of product.reviewStats; let i = index" class="bar-container">
            <div class="star-text">{{stat.name}}</div>
            <div class="bar-base" [style.marginLeft.px]="i == 4 ? 12 : 5">
              <div class="bar" [style.width.px]="stat.percentage * 200"></div>
            </div>

            <div class="percent-text">
              {{(stat.percentage * 100)}}%
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Reviews -->
    <div *ngIf="product.rating > 0" class="reviews">
      <div style="font-size: 16px; margin: 20px 0;">
        Showing 1-{{product.reviews.length}} of {{product.totalReviews | number}} reviews
      </div>

      <!-- View all reviews button -->
      <div *ngIf="product.totalReviews > 10" class="purple-button" style="margin-bottom: 20px;">
        View all {{product.totalReviews | number}} reviews
      </div>

      <!-- Review -->
      <div *ngFor="let review of product.reviews" class="review">

        <!-- Stars and review title -->
        <div style="margin-bottom: 4px;">
          <stars [rating]="review.rating"></stars>
          <span class="review-title-text">
            {{review.title}}
          </span>
        </div>


        <!-- Username, date, verified purchase -->
        <div style="margin-bottom: 4px;">
          {{review.username}}
        </div>

        <div style="margin-bottom: 4px;">
          {{review.date}}
        </div>

        <div *ngIf="review.isVerified" class="verified-text">
          Verified Purchase
        </div>

        <!-- review text -->
        <div class="review-text-container">
          {{review.text}}
        </div>

        <!-- Review helpful text -->
        <span *ngIf="!review.hasBeenRated" class="review-helpful-text">
          Was this review helpful?
        </span>
        
        <span *ngIf="review.hasBeenRated" style="color: #00de00">
            <i class="fas fa-check"></i> Thanks for your feedback.
        </span>

        <!-- Review rating container -->
        <span class="review-rating-container">
          <span *ngIf="!review.hasBeenRated" class="thumb-container" (click)="onRateReviewClick(1, review)">
            <i class="fas fa-thumbs-up"></i>
            <span class="rating-text">{{review.like}}</span>
          </span>

          <span *ngIf="!review.hasBeenRated" class="thumb-container" (click)="onRateReviewClick(-1, review)">
            <i class="fas fa-thumbs-down"></i>
            <span class="rating-text">{{review.dislike}}</span>
          </span>

          <span class="purple-link" style="margin-left: 20px;" (click)="this.modalService.reportReview.show = true;">
            <i style="margin-right: 5px;" class="fas fa-flag"></i>
            Report this review
          </span>
        </span>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <div style="margin-top: 134px;">
    <footer></footer>
  </div>
</div>
<report-review *ngIf="modalService.reportReview.show"></report-review>
<report-item *ngIf="modalService.reportItem.show"></report-item>
<add-to-list *ngIf="modalService.addToList.show" [product]="product"></add-to-list>
<create-list *ngIf="modalService.createList.show"></create-list>
<quick-look *ngIf="modalService.quickLook.show && !modalService.mediaViewer.show"></quick-look>
<media-viewer *ngIf="modalService.mediaViewer.show"></media-viewer>