<div class="background-container">
  <search-bar></search-bar>

  <div class="product-container">
    <!-- Media -->
    <div *ngIf="media.length > 0">
      <media-group [media]="media" [productTitle]="product.title"></media-group>
    </div>

    <div style="margin: auto; display: flex">
      <!-- Product Image -->
      <div class="image-container">
        <div class="image-background">
          <img [src]="'/Images/' + product.image">
        </div>
      </div>

      <!-- Product Info -->
      <div class="info-container">
        <!-- Title -->
        <div class="product-title">
          {{product.title}}
        </div>

        <!-- Rating & Reviews -->
        <div *ngIf="product.rating > 0" class="rating-container">
          <stars [rating]="product.rating"></stars>
          <span class="reviews-text">
            {{product.totalReviews | number}} review{{product.totalReviews > 1 ? 's' : ''}}
          </span>
        </div>
        <div *ngIf="product.rating == 0" class="first-review-link" routerLink="/reviews/write-review" [queryParams]="{'id': product.id}">
          Be the first to review this item
        </div>

        <!-- Price -->
        <div class="price">
          <div *ngIf="product.maxPrice === 0">
            {{product.minPrice | currency:'USD'}}
          </div>
          <div *ngIf="product.maxPrice > 0">
            {{product.minPrice | currency:'USD'}} -
            {{product.maxPrice | currency:'USD'}}
          </div>
        </div>

        <button style="margin: 10px 0;" class="gold-button" (click)="onPublisherButtonClick()">
          Visit Publisher’s Page To Buy
        </button>


        <!-- Description -->
        <div class="description">
          {{product.description}}
        </div>

        <!-- Add to list button -->
        <div class="purple-button" (click)="onAddToListClick()">Add to List</div>

        <!-- Share -->
        <div class="share-container">
          <div class="share-icon" (click)="onFacebookClick()">
            <img src="assets/Facebook.png" title="Share on Facebook">
          </div>
          <div class="share-icon" (click)="onTwitterClick()">
            <img src="assets/Twitter.png" title="Share on Twitter">
          </div>
          <div class="share-icon" (click)="onPinterestClick()">
            <img src="assets/Pinterest.png" title="Share on Pinterest">
          </div>
        </div>

        <!-- Report item -->
        <div class="purple-link" style="float: right;" (click)="modalService.reportItem.show = true">
          <i style="margin-right: 5px;" class="fas fa-flag"></i>
          Report this item
        </div>
      </div>
    </div>
  </div>

  <!-- Contents -->
  <table>
    <tr>
      <th>Here’s what you get</th>
      <tH *ngFor="let pricePoint of pricePoints">
        {{pricePoint.price | currency:'USD'}} - {{pricePoint.frequency}}
      </tH>
    </tr>
    <tr *ngFor="let item of content">
      <td>
        <img [src]="'/assets/' + item.type + '.png'">
        {{item.title}}
      </td>
      <td *ngFor="let pricePoint of pricePoints; let i = index">
        <i *ngIf="hasPricePoint(item.priceIndices, i)" class="fas fa-check"></i>
      </td>
    </tr>
  </table>

  <!-- Products sliders -->
  <div *ngFor="let productSlider of productsSlider" class="products-slider-background">
    <products-slider [caption]="productSlider.caption" [products]="productSlider.products"></products-slider>
  </div>


  <div class="ratings-container">
    <div class="caption">{{product.rating > 0 ? 'Customer Reviews' : 'No Customer Reviews'}}</div>

    <!-- Review Summary -->
    <review-summary [product]="product"></review-summary>
  </div>


  <!-- Reviews -->
  <div *ngIf="reviews.length > 0" class="reviews">

    <div>
      <div class="review-count">
        Showing 1-{{reviews.length}} of {{product.totalReviews | number}} review{{product.totalReviews > 1 ? 's' : ''}}
      </div>
      <review-sort [url]="product.urlTitle" [sortOptions]="sortOptions"></review-sort>
    </div>


    <!-- View all reviews button -->
    <div *ngIf="product.totalReviews > reviewsPerPage" class="purple-button" style="margin-bottom: 20px;"
      (click)="onViewAllReviewsClick()">
      View all {{product.totalReviews | number}} reviews
    </div>

    <!-- Review -->
    <div *ngFor="let review of reviews; trackBy:trackReview">
      <review [review]="review"></review>
    </div>

    <!-- View all reviews button -->
    <div *ngIf="product.totalReviews > reviewsPerPage" class="purple-button" style="margin-top: 20px;"
      (click)="onViewAllReviewsClick()">
      View all {{product.totalReviews | number}} reviews
    </div>

  </div>


  <!-- Footer -->
  <footer></footer>
</div>

<report-review *ngIf="modalService.reportReview.show"></report-review>
<report-item *ngIf="modalService.reportItem.show" [productId]="product.id"></report-item>
<add-to-list *ngIf="modalService.addToList.show" [product]="product"></add-to-list>
<create-list *ngIf="modalService.createList.show"></create-list>
<quick-look *ngIf="modalService.quickLook.show && !modalService.mediaViewer.show"></quick-look>
<media-viewer *ngIf="modalService.mediaViewer.show"></media-viewer>