<div *ngIf="showMenu" class="menu-container" (mouseleave)="showNicheList = false" [ngClass]="{'shadow' : showNicheList}">
  <!-- <div class="menu-container" [ngClass]="{'shadow' : showNicheList}"> -->
  <div class="arrow"></div>
  <div class="category-list-container border menu-background border-left-radius" [ngClass]="{'shadow border-right-radius' : !showNicheList}">
    <ul>
      <li (click)="onCategoryClick()" style="cursor: pointer;" *ngFor="let category of categories" (mouseenter)="showNicheList = true; currentCategory = category" [ngClass]="{'highlight': currentCategory == category && showNicheList}">
        <div>{{category.name}}</div>
      </li>
    </ul>
  </div>
  <div *ngIf="showNicheList" class="niche-list-container border menu-background border-right-radius" style="border-left: none;">
    <div class="niche-container">
      <div class="niche" *ngFor="let niche of currentCategory.niches" (click)="onNicheClick(niche)">
        <img *ngIf="niche.icon" style="display: block" src="/Images/{{niche.icon}}">
        <div class="title">{{niche.name}}</div>
      </div>
    </div>
    <img class="category-img" *ngIf="currentCategory.categoryImage" src="/Images/{{currentCategory.categoryImage.name}}" (click)="onCategoryClick()">
  </div>
</div>