@import 'theme';

.menu-container{
    width: 1057px;
    height: 502px;
    position: absolute;
    top: 60px;
    left: -154px;
    z-index: 50;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.arrow::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(19, 18, 18, 0.9);
    position: absolute;
    top: -11px;
    left: 150px;
}
.arrow::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ab0395;
    position: absolute;
    top: -12px;
    left: 150px;
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
        
        font-weight: bold;
        font-size: 14px;
    }
}
.category-list-container{
    width: 250px;
    overflow: auto;
    li{
        width: 100%;
        height: 32px;
        line-height: 32px;
        position: relative;
        cursor: default;
        color: #c5c5c5;
        overflow: hidden;
        div{
            position: absolute;
            padding-left: 20px;
        }
        .fa-chevron-right{
            position: absolute;
            right: 5px;
            line-height: 32px;
        }
    }
}
.niche-list-container{
    width: 827px;
    cursor: default;
    .niche-container{
        height: 500px;
        overflow: auto;
    }
}
.border{
    border: 1px solid $color1;
    box-sizing: border-box;
}
.menu-background{
    background: #131212f2;
}
.shadow{
    box-shadow: 4px 0 10px #020202;
}
.border-right-radius{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.border-left-radius{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.title {
    font-size: 14px;
    text-align: center;
    line-height: 1;
    margin-top: 2px;
}
.niche {
    margin: 10px;
    display: inline-table;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-right: 5px;
}
.niche:hover {
    text-decoration: underline;
}
.category-img {
    position: absolute;
    top: 1px;
    right: -19px;
    cursor: pointer;
    width: 207px;
    height: 500px;
}
.highlight {
    background-color: $color1;
    color: #ffffff !important;
}

@media screen and (max-width: 1150px) {
    .category-img {
        display: none;
    }
    .niche-list-container{
        .niche-container{
            border-right: none;
        }
    }
    .menu-container{
        width: 870px;
    }
    .category-list-container{
        flex-shrink: 0;
    }
}