<div *ngIf="categoryFilter.currentCategory !== null && categoryFilter.currentCategory >= 0 && categoryFilter.query != undefined" class="content" style="margin-bottom: 10px" [ngClass]="{'show-content': categoryFilter.showContent}">
  <i class="fas fa-angle-left"></i>
  <div class="pointer inline" (click)="onClick({add: [], remove: ['nicheId', 'page', 'categoryId']})">Any Category</div>
</div>

<!-- List of categories -->
<div *ngFor="let category of categoryFilter.categories | maxItems: maxCount : showAllCategories: !this.categoryFilter.showContent && !this.categoryFilter.show; let i = index" 
  class="content"
  [ngStyle]="(categoryFilter.showContent && i < maxCount) || (allCategoriesVisible && categoryFilter.showContent) ? {maxHeight: getMaxHeight(category) + 'px', opacity: 1} : {maxHeight: '0', opacity: 0}"
  (transitionend)="!categoryFilter.showContent && categoryFilter.show || (!allCategoriesVisible && showAllCategories) ? onCategoryTransitionEnd() : null">

  <!-- Category name -->
  <div class="text">
    <i *ngIf="categoryFilter.currentNiche !== null && categoryFilter.currentNiche >= 0" class="fas fa-angle-left"></i>
    <div style="display: inline-block" (click)="categoryFilter.currentCategory == null || (categoryFilter.currentNiche !== null && categoryFilter.currentNiche >= 0) ? onClick({add: [{name: 'categoryId', value: category.id}], remove: ['nicheId', 'page']}) : null" class="highlight"
      [ngClass]="{'pointer' : categoryFilter.currentCategory == null || (categoryFilter.currentNiche !== null && categoryFilter.currentNiche >= 0)}">{{category.name}}</div>
  </div>

  <!-- List of niches per category -->
  <div *ngFor="let niche of category.niches | maxItems: maxCount : category.showAllNiches; let j = index" 
    class="content"
    [ngStyle]="categoryFilter.showContent && j < maxCount || niche.isVisible ? {maxHeight: '18px', opacity: 1} : {}"
    (transitionend)="category.niches[maxCount] && category.niches[maxCount].isVisible != undefined && !category.niches[maxCount].isVisible ? category.showAllNiches = false : null">

    <!-- Niche name -->
    <div [ngClass]="{'pointer' : (categoryFilter.currentNiche == null && category.niches.length > 1) || categoryFilter.categories.length > 1}" class="margin-left text"
      (click)="(categoryFilter.currentNiche == null && category.niches.length > 1) || categoryFilter.categories.length > 1 ? onClick({add: [{name: 'nicheId', value: niche.id}, {name: 'categoryId', value: category.id}], remove: ['page']}): null">{{niche.name}}
    </div>
  </div>

  <!-- See more/See less niches -->
  <div *ngIf="category.niches.length > maxCount" class="margin-left content" [ngClass]="{'show-content': categoryFilter.showContent}">
    <i class="fas" [ngClass]="{'fa-angle-double-down' : !category.seeMore, 'fa-angle-double-up' : category.seeMore}"></i>
    <div class="see-more-less pointer" (click)="showHideNiches(category)" [innerHtml]="!category.seeMore ? 'See More' : 'See Less'"></div>
  </div>
</div>

<!-- See all/See fewer categories -->
<div *ngIf="categoryFilter.categories.length > maxCount" class="content" [ngClass]="{'show-content': categoryFilter.showContent}">
  <i class="fas" [ngClass]="{'fa-angle-double-down' : !seeMoreCategories, 'fa-angle-double-up' : seeMoreCategories}"></i>
  <div style="margin-top: 10px"
    class="see-more-less pointer"
    (click)="showHideCategories()"
    [innerHtml]="!seeMoreCategories ? 'See All ' + categoryFilter.categories.length + ' Categories' : 'See Fewer Categories'"></div>
</div>