<div *ngIf="parent.currentCategory > 0 && parent.query != undefined" class="content" [ngClass]="{'show-content': parent.showContent}">
    <i class="fas fa-angle-left"></i>
    <div class="pointer inline margin-top" (click)="searchComponent.setQueryParameters([{name: 'category', value: 0}], ['nicheId', 'page'])">Any Category</div>
  </div>
  
  <!-- List of categories -->
  <div *ngFor="let category of parent.categories | maxItems: maxCount : showAllCategories: !this.parent.showContent && !this.parent.show; let i = index" 
    class="content"
    [ngStyle]="(parent.showContent && i < maxCount) || (allCategoriesVisible && parent.showContent) ? {maxHeight: getMaxHeight(category) + 'px', opacity: 1} : {maxHeight: '0', opacity: 0}"
    (transitionend)="!parent.showContent && parent.show || (!allCategoriesVisible && showAllCategories) ? onCategoryTransitionEnd() : null">
  
    <!-- Category name -->
    <div class="text">
      <i *ngIf="parent.currentNiche > 0" class="fas fa-angle-left"></i>
      <div style="display: inline-block" (click)="searchComponent.setQueryParameters([{name: 'category', value: category.id}], ['nicheId', 'page'])"
        [ngClass]="{'margin-top' : parent.currentCategory == 0 || parent.query == undefined, 'highlight' : parent.currentNiche == null, 'pointer' : parent.currentCategory == 0 || parent.currentNiche > 0}">{{category.name}}</div>
      <span *ngIf="parent.currentNiche == null" class="count">({{parent.getProductCount(category)|number}})</span>
    </div>
  
    <!-- List of niches per category -->
    <div *ngFor="let niche of category.niches | maxItems: maxCount : category.showAllNiches; let j = index" 
      class="content"
      [ngStyle]="parent.showContent && j < maxCount || niche.isVisible ? {maxHeight: '18px', opacity: 1} : {}"
      (transitionend)="category.niches[maxCount] && category.niches[maxCount].isVisible != undefined && !category.niches[maxCount].isVisible ? category.showAllNiches = false : null">
  
      <!-- Niche name -->
      <div [ngClass]="{'pointer' : parent.currentNiche == null, 'highlight' : parent.currentNiche != null}" class="margin-left text"
        (click)="searchComponent.setQueryParameters([{name: 'nicheId', value: niche.id}, {name: 'category', value: category.id}], ['page'])">{{niche.name}}
        <span class="count">({{niche.productCount|number}})</span>
      </div>
    </div>
  
    <!-- See more/See less niches -->
    <div *ngIf="category.niches.length > maxCount" class="margin-left content" [ngClass]="{'show-content': parent.showContent}">
      <i class="fas" [ngClass]="{'fa-angle-double-down' : !category.seeMore, 'fa-angle-double-up' : category.seeMore}"></i>
      <div class="see-more-less pointer" (click)="showHideNiches(category)" [innerHtml]="!category.seeMore ? 'See More' : 'See Less'"></div>
    </div>
  </div>
  
  <!-- See all/See fewer categories -->
  <div *ngIf="parent.categories.length > maxCount" class="content" [ngClass]="{'show-content': parent.showContent}">
    <i class="fas" [ngClass]="{'fa-angle-double-down' : !seeMoreCategories, 'fa-angle-double-up' : seeMoreCategories}"></i>
    <div style="margin-top: 10px"
      class="see-more-less pointer"
      (click)="showHideCategories()"
      [innerHtml]="!seeMoreCategories ? 'See All ' + parent.categories.length + ' Categories' : 'See Fewer Categories'"></div>
  </div>