.arrow{
    background: #000000c4;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
    color: #e8e8e8;
    -webkit-text-stroke: 1px #2b2b2b;
    border: 1px solid #292929;
    box-sizing: border-box;
}
.arrow:hover{
    background: #505050b3;
    color: #ffffff;
    border: 1px solid #999999;
}
.arrow-left{
    left: 10px;
    padding-right: 3px;
}
.arrow-right{
    right: 10px;
    padding-left: 3px;
}
@media screen and (max-width: 550px) {
    .arrow{
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 28px;
    }
}
@media screen and (max-width: 360px) {
    .arrow{
        width: 24px;
        height: 24px;
        margin-top: -12px;
        font-size: 23px;
    }
}