@import 'theme';

.container {
    width: 540px;
    margin: auto;
    margin-top: 140px;
}
.page-title {
    font-size: 35px;
    color: $gold;
    margin-bottom: 30px;
}
.property-container {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}
.property-container:nth-child(2) {
    border-top: 1px solid #3c3c3c;
}
.data-container {
    margin-left: 10px;
    flex: 1;
}
.caption {
    color: $gold;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
.value {
    font-size: 13px;
    color: #d7d7d7;
    user-select: none;
}
.gray-button {
    margin-right: 10px;
}
input {
    background: $background-color;
    border: none;
}
