<div class="background-container">
    <!-- Search Bar -->
    <search-bar></search-bar>

    <div class="container">
        <div class="page-title">Profile</div>

        <!-- Name -->
        <div class="property-container">
            <div class="data-container">
                <div class="caption">Name:</div>
                <div class="value">Gabe LaPoint</div>
            </div>
            <button class="gray-button">Edit</button>
        </div>


        <!-- Email -->
        <div class="property-container">
            <div class="data-container">
                <div class="caption">Email:</div>
                <div class="value">glapoint22@gmail.com</div>
            </div>
            <button class="gray-button">Edit</button>
        </div>

        <!-- Password -->
        <div class="property-container">
            <div class="data-container">
                <div class="caption">Password:</div>
                <div class="value">****</div>
            </div>
            <button class="gray-button">Edit</button>
        </div>
    </div>

    <!-- Footer -->
    <footer></footer>

</div>