<div class="background-container">
    <!-- Search Bar -->
    <search-bar></search-bar>

    <div class="container">
        <div class="breadcrumb-container">
            <a routerLink="/account">Your Account</a>
            <i class="fas fa-caret-right" style="margin: 0 10px;"></i>
            <span class="path">Profile</span>
        </div>
        

        <!-- Changes -->
        <div *ngIf="hasChanges" class="changes">
            <i class="fas fa-check"></i>
            All changes have been successfully saved.
        </div>

        <!-- Title -->
        <div class="page-title">Profile</div>

        <!-- Name -->
        <div class="property-container">
            <div class="data-container">
                <div class="caption">Name:</div>
                <div class="value">{{customer.firstName}} {{customer.lastName}}</div>
            </div>
            <button class="gray-button" (click)="navigate('account/profile/change-name')">Edit</button>
        </div>


        <!-- Email -->
        <div class="property-container">
            <div class="data-container">
                <div class="caption">Email:</div>
                <div class="value">{{customer.email}}</div>
            </div>
            <button class="gray-button" (click)="navigate('account/profile/change-email')">Edit</button>
        </div>

        <!-- Password -->
        <div class="property-container">
            <div class="data-container">
                <div class="caption">Password:</div>
                <div class="value">********</div>
            </div>
            <button class="gray-button" (click)="navigate('account/profile/change-password')">Edit</button>
        </div>
    </div>

    <!-- Footer -->
    <footer></footer>

</div>