<div class="modal-background" (click)="close()">
  <div class="window" (click)="stopPropagation($event)">
    <div class="title-bar">
      <div class="title">Add to list</div>
      <div class="close-button" (click)="close()" title="Close">
        <i class="fas fa-times"></i>
      </div>
    </div>

    <!-- Item added -->
    <h2 *ngIf="submitted">
      Item added to {{selectedList.name}}
    </h2>

    <!-- Image and product title -->
    <div style="display: flex">
      <!-- Product Image -->
      <div class="image-background">
        <div class="img" [style.background-image]="'url(/Images/' + product.image + ')'"></div>
      </div>

      <!-- Product Title -->
      <div class="product-title">{{product.name}}</div>
    </div>

    <!-- Lists -->
    <select *ngIf="!submitted" [(ngModel)]="selectedList">
      <option *ngFor="let list of lists" [ngValue]="list">{{list.name}}</option>
    </select>

    <!-- Buttons -->
    <button *ngIf="!submitted" class="gold-button" (click)="onSubmit()" [disabled]="selectedList.name === 'Select your list'">Submit</button>
    <button *ngIf="!submitted" class="gray-button" (click)="close()">Cancel</button>
    <div *ngIf="!submitted" class="purple-button" (click)="createList()">Create a List</div>

    <button *ngIf="submitted" class="gold-button" (click)="close()">Done</button>
    <div *ngIf="submitted" class="purple-button" (click)="modalService.addToList.show=true">View Your List</div>


  </div>
</div>