@import 'theme';

.container {
    margin-top: 50px;
}
.disclaimer {
    text-align: center;
    width: 320px;
    margin: auto;
    margin-bottom: 20px;
}
span, a {
    color: #b3b3b3;
    font-size: 12px;
}
hr {
    border: 1px solid #464646;
    width: 280px;
    margin-bottom: 20px;
}