@import 'theme';

.container {
    margin-top: 50px;
}
.info-container {
    margin: -15px 0 20px 20px;
    .fa-info {
        font-size: 13px;
        color: $color1;
        font-style: italic;
        margin-right: 10px;
    }
    .info-text {
        color: $gold;
        font-size: 13px;
    }
}
.disclaimer {
    text-align: center;
    width: 320px;
    margin: auto;
    margin-bottom: 20px;
}
span, a {
    color: #b3b3b3;
    font-size: 12px;
}
hr {
    border: 1px solid #464646;
    width: 280px;
    margin-bottom: 20px;
}