<div class="footer-container">
  <div class="footer">
    <div class="social">
      Stay Connected
      <a href="http://www.facebook.com" title="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="http://www.facebook.com" title="Twitter">
        <i class="fab fa-twitter-square"></i>
      </a>
      <a href="http://www.facebook.com" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="http://www.facebook.com" title="Pinterest">
        <i class="fab fa-pinterest-square"></i>
      </a>
    </div>


    <div class="menu-container">
      <div>
        <div class="caption">Niche Shack</div>
        <a routerLink="/about">About Niche Shack</a>
        <a routerLink="/terms">Terms of Use</a>
        <a routerLink="/privacy-policy">Privacy Policy</a>
      </div>

      <div style="margin: auto;">
        <div class="caption">Your Niche</div>
        
        <a routerLink="/account">Your Account</a>
        <a routerLink="/orders">Your Orders</a>
        <a routerLink="/preferences">Your Email Preferences</a>
      </div>

      <div>
        <div class="caption">Customer Service</div>
        <a href="https://www.clkbank.com">Order Support</a>
        <a routerLink="/contact">Contact Us</a>
      </div>
    </div>

    <!-- <div class="links">
      <a routerLink="/about">About us</a>
      <a href="https://www.clkbank.com">Order support</a>
    </div> -->
  </div>
</div>