<div class="footer-container">
  <div class="social">
    Stay Connected
    <a href="http://www.facebook.com" title="Facebook">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="http://www.facebook.com" title="Twitter">
      <i class="fab fa-twitter-square"></i>
    </a>
    <a href="http://www.facebook.com" title="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="http://www.facebook.com" title="Pinterest">
      <i class="fab fa-pinterest-square"></i>
    </a>
  </div>
  <div class="links">
    <a routerLink="/about">About us</a>
    <a routerLink="/preferences">Manage email subscriptions</a>
    <a href="https://www.clkbank.com">Order support</a>
  </div>
</div>