<div class="background-container">
    <div class="container">

        <!-- Logo -->
        <img src="assets/Logo.png" routerLink="">

        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="form-title">Sign In</div>

            <!-- Email -->
            <div *ngIf="valid(email); else invalidEmail" class="caption">Email:</div>

            <!-- Invalid email -->
            <ng-template #invalidEmail>
                <div class="not-valid caption">
                    Please provide your email address.
                </div>
            </ng-template>
            <input class="dark" required [(ngModel)]="account.email" name="email" #email="ngModel" autocomplete="off">

            <!-- Password -->
            <div *ngIf="valid(password); else invalidPassword" class="caption" style="display: inline-block;">Password:
            </div>
            <a routerLink="/forget-password" class="gold-link">Forgot your password?</a>

            <!-- Invalid password -->
            <ng-template #invalidPassword>
                <div class="not-valid caption">
                    Please provide your password.
                </div>
            </ng-template>
            <input type="password" class="dark" required [(ngModel)]="account.password" name="password"
                #password="ngModel" autocomplete="off">

            <!-- Sign in button -->
            <button class="gold-button">Sign in</button>

            <div style="margin-left: 20px; margin-bottom: 20px;">
                <checkbox [type]="'checkbox'" [label]="'Keep me signed in.'" (change)="onChange()"></checkbox>
            </div>

            <hr>

            <div class="caption" style="text-align: center; margin-bottom: 10px;">Don’t have an account?</div>
            <button type="button" class="gray-button" (click)="onSignInClick()">Create an account</button>
        </form>

        <div style="text-align: center; margin-top: 20px;">
            <a routerLink="/terms" style="margin-right: 20px;">Terms of Use</a>
            <a routerLink="/privacy-policy">Privacy Policy</a>
        </div>
    </div>
</div>