<div class="background-container">
    <div class="container">

        <!-- Logo -->
        <img src="assets/Logo.png" routerLink="">

        <div *ngIf="success" class="checkmark-container">
            <div style="margin: 20px 10px;">
                <i class="fas fa-check"></i>
            </div>

            <div style="margin: 10px 10px 10px 0;">
                Your new password has been successfully created.
            </div>

        </div>

        <form (ngSubmit)="onSubmit()" #form="ngForm" [matchValue]="['password', 'reEnteredPassword']">
            <div class="form-title">Create New Password</div>

            

            <!-- Password -->
            <div *ngIf="valid(_password); else invalidPassword" class="caption">Password:</div>

            <!-- Invalid password -->
            <ng-template #invalidPassword>
                <div class="not-valid caption">
                    Passwords must be at least 6 characters.
                </div>
            </ng-template>
            <input type="password" class="dark" required pattern=".{6,}" [(ngModel)]="account.password" name="password"
                #_password="ngModel" autocomplete="off">

            <div class="info-container">
                <i class="fas fa-info"></i>
                <span class="info-text">Passwords must be at least 6 characters.</span>
            </div>


            <!-- Re-enter password -->
            <div *ngIf="valid(re_enter_password); else invalidReEnteredPassword" class="caption">Re-enter password:
            </div>

            <!-- Invalid re-entered password -->
            <ng-template #invalidReEnteredPassword>
                <div class="not-valid caption">
                    Please make sure passwords match.
                </div>
            </ng-template>
            <input type="password" class="dark" [(ngModel)]="reEnteredPassword" name="reEnteredPassword"
                #re_enter_password="ngModel" autocomplete="off">


            <!-- save button -->
            <button class="gold-button">Save changes</button>

        </form>

        <div style="text-align: center; margin-top: 20px;">
            <a routerLink="/terms" style="margin-right: 20px;">Terms of Use</a>
            <a routerLink="/privacy-policy">Privacy Policy</a>
        </div>
    </div>
</div>