<div class="modal-background" (click)="close()">
  <div class="window" (click)="stopPropagation($event)">
    <div class="title-bar">
      <div class="title">Report this item</div>
      <div class="close-button" (click)="close()" title="Close">
        <i class="fas fa-times"></i>
      </div>
    </div>

    <!-- Submitted -->
    <div *ngIf="submitted; else content">
      <div>
        <h2>Thank You!</h2>
      </div>

      <div style="margin: 50px 5px 0 10px;
            font-size: 13px;">
        Your feedback helps us make Niche Shack shopping better for millions of customers.
      </div>

      <button class="gold-button done-button" (click)="close()">Done</button>
    </div>

    

    <!-- Content -->
    <ng-template #content>
      <div class="caption">
        Please tell us about the issue.
      </div>

      <!-- Where is issue -->
      <select [(ngModel)]="selectedWhereOption" style="margin-bottom: 15px;"
        (change)="selectedWhatOption = selectedWhereOption.options[0]">
        <option *ngFor="let whereOption of options" [ngValue]="whereOption">{{whereOption.name}}</option>
      </select>

      <!-- What is issue -->
      <select [(ngModel)]="selectedWhatOption" [disabled]="selectedWhereOption.name == 'Where is the issue?'">
        <option *ngFor="let whatOption of selectedWhereOption.options" [ngValue]="whatOption">{{whatOption.name}}
        </option>
      </select>

      <!-- Comments -->
      <div class="caption">Comments (optional)</div>
      <textarea [(ngModel)]="comments"></textarea>

      <!-- Buttons -->
      <button class="gold-button" (click)="onSubmit()"
        [disabled]="selectedWhatOption.name === 'What is the issue?'">Submit</button>
      <button class="gray-button" (click)="close()">Cancel</button>
    </ng-template>

  </div>
</div>