@import 'theme';

.window {
    width: 320px;
    height: 340px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
}
.caption {
    margin: 12px 0 10px 10px;
}
select {
    width: 300px;
    border-radius: 4px;
    border: 1px solid #393939;
    height: 23px;
    background: #282828;
    color: #ffffff;
    outline: none;
    margin-left: 10px;
}

select:disabled {
    color: #505050;
}
.gold-button, .gray-button {
    margin: 10px;
    float: right;
}
.done-button {
    position: absolute;
    right: 0;
    bottom: 0;
    clear: right;
}
textarea {
    width: 288px;
    height: 100px;
    resize: none;
    border: 1px solid #393939;
    background-color: #282828;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
    outline: none;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    margin: 20px 10px;
    color: $gold;
}