<div class="modal-background" (mousedown)="close()">
    <div class="window" (mousedown)="stopPropagation($event)">

        <!-- Title Bar -->
        <div class="title-bar">
            <div class="title">Manage Collaborators</div>
            <div class="close-button" (click)="close()" title="Close">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <!-- Content -->
        <div class="collaborators-container">
            <div *ngFor="let collaborator of collaborators; let i = index" class="collaborator">
                <div class="name">{{collaborator.name}}</div>

                <!-- Delete collaborator -->
                <div (click)="collaboratorIndex = i; scrollTo()" class="delete-collaborator"
                    [title]="'Remove ' + collaborator.name">
                    <i class="fas fa-user-times"></i>
                </div>

                <!-- Prompt -->
                <div id="prompt" *ngIf="i == collaboratorIndex" class="prompt-container">
                    <div>Are you sure you want to remove {{collaborator.name}} from this list?</div>
                    <div style="display: flex">
                        <button class="gold-button prompt-button" (click)="onRemoveCollaborator()">Remove</button>
                        <button class="gray-button prompt-button"
                            (click)="collaboratorIndex = undefined">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <button class="gold-button" (click)="close()">Done</button>
        </div>
    </div>
</div>