<div class="modal-background" (click)="close()">
    <div class="window" (click)="stopPropagation($event)">

        <!-- Title Bar -->
        <div class="title-bar">
            <div class="title">Manage Collaborators</div>
            <div class="close-button" (click)="close()" title="Close">
                <i class="fas fa-times"></i>
            </div>
        </div>



        <!-- Content -->
        <div style="max-height: 230px; overflow: auto; ">
                <div *ngFor="let collaborator of collaborators; let i = index" style="
                min-height: 10px;
                
                margin: 10px;">
                    <div style="
                    display: inline; color: gold">{{collaborator.name}}</div>
        
                    <div (click)="collaboratorIndex = i; scrollTo()" style="float: right; color: #aa0394; cursor: pointer;" [title]="'Remove ' + collaborator.name">
                        <i class="fas fa-user-times"></i>
                    </div>
        
        
                    <div id="collaborator" *ngIf="i == collaboratorIndex" style="width: 260px; margin-top: 10px;">
                        <div>Are you sure you want to remove {{collaborator.name}} from this list?</div>
                        <div style="display: flex">
                            <button class="gold-button" style="float: none; margin: 10px 0;" (click)="onRemoveCollaborator()">Remove</button>
                            <button class="gray-button" style="float: none; margin: 10px 0 0 10px;"
                                (click)="collaboratorIndex = undefined">Cancel</button>
                        </div>
        
                    </div>
        
                </div>
        </div>

        <div style="background: #292929;
        height: 50px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;">
            <button class="gold-button">Done</button>
            <button class="gray-button">Cancel</button>
        </div>
        




    </div>
</div>