<div class="background-container">
    <!-- Search Bar -->
    <search-bar></search-bar>

    <div class="container">
        <!-- Breadcrumb -->
        <div class="breadcrumb-container">
            <a routerLink="/account">Your Account</a>
            <i class="fas fa-caret-right" style="margin: 0 10px;"></i>
            <a routerLink="/account/profile">Profile</a>
            <i class="fas fa-caret-right" style="margin: 0 10px;"></i>
            <span class="path">Change Password</span>
        </div>

        <!-- Logo -->
        <img src="assets/Logo.png" routerLink="">

        <div *ngIf="isUnauthorized" class="warning">
            <i class="fas fa-exclamation-triangle"></i>
            <div class="warning-text">
              You are not authorized to make this request.
            </div>
          </div>

        <form (ngSubmit)="onSubmit()" #form="ngForm" [matchValue]="['newPassword', 'reEnteredPassword']">
            <div class="form-title">Change Password</div>

            <!-- Current password -->
            <div *ngIf="valid(current_password); else invalidCurrentPassword" class="caption">Current password:</div>

            <!-- Invalid current password -->
            <ng-template #invalidCurrentPassword>
                <div *ngIf="current_password.errors.required" class="not-valid caption">
                    Please provide your current password.
                </div>

                <div *ngIf="current_password.errors.incorrectPassword" class="not-valid caption">
                    You have entered an incorrect password.
                </div>
            </ng-template>
            <input type="password" class="dark" required [(ngModel)]="currentPassword" name="currentPassword"
                #current_password="ngModel" autocomplete="off">

            <!-- New password -->
            <div *ngIf="valid(new_password); else invalidNewPassword" class="caption">New password:</div>

            <!-- Invalid new password -->
            <ng-template #invalidNewPassword>
                <div class="not-valid caption">
                    Passwords must be at least 6 characters.
                </div>
            </ng-template>
            <input type="password" class="dark" required pattern=".{6,}" [(ngModel)]="newPassword" name="newPassword"
                #new_password="ngModel" autocomplete="off">

            <!-- Re-enter password -->
            <div *ngIf="valid(re_enter_password); else invalidReEnteredPassword" class="caption">Re-enter password:
            </div>

            <!-- Invalid re-entered password -->
            <ng-template #invalidReEnteredPassword>
                <div class="not-valid caption">
                    Please make sure passwords match.
                </div>
            </ng-template>
            <input type="password" class="dark" [(ngModel)]="reEnteredPassword" name="reEnteredPassword"
                #re_enter_password="ngModel" autocomplete="off">

            <!-- Save button -->
            <button class="gold-button">Save</button>
        </form>
    </div>




    <!-- Footer -->
    <footer></footer>
</div>