<div *ngIf="customer" class="container">
  <search-bar></search-bar>
  <div class="content">
    <h1>
      Welcome{{isExistingCustomer ? '' : ' to Niche Shack'}},
      {{customer.substring(0, 1).toLocaleUpperCase() + customer.substring(1)}}!
    </h1>
    <p>
      <span *ngIf="leadMagnet">
        An email has been sent to
        <b>
          <i>{{email}}</i>
        </b> where you will be able to download your free
        <b>
          <i>{{leadMagnet}}</i>
        </b>. If you don’t see your new email, check your spam folder and please be sure to whitelist the Niche Shack
        email
        address.
        <span *ngIf="!isExistingCustomer">
          We have more exciting offers we'd love to send you, but we don't want to spam your inbox. So here
        </span>
      </span>
      <span *ngIf="!isExistingCustomer">
        <span *ngIf="!leadMagnet">Here </span>
        is a link to your
        <a [href]="'/preferences?p=' + serializedCustomerId">
          email subscriptions</a> where you can set your email preferences and personal information. You can access
        your
        email subscriptions at any time by clicking on the
        <a [href]="'/preferences?p=' + serializedCustomerId">Manage Email Subscriptions</a>
        link at the bottom of every email we send you.

        <span *ngIf="productName">
          Click
          <a [href]="hoplink">here</a> to proceed to {{productName}}.
        </span>
      </span>
      <span *ngIf="isExistingCustomer && productName">
        Click
        <a [href]="hoplink">here</a> to proceed to {{productName}}.
      </span>
    </p>
  </div>
  <footer></footer>
</div>