<div class="background-container">
  <search-bar #searchBar></search-bar>
  <carousel [carouselItems]="carouselItems"></carousel>
  <div class="content">
      <products-slider *ngFor="let productSlider of productSliders" [caption]="productSlider.caption" [products]="productSlider.products"></products-slider>
      <featured-categories [categories]="searchBar.categories"></featured-categories>
  </div>
  <footer></footer>
</div>
<quick-look *ngIf="modalService.quickLook.show && !modalService.mediaViewer.show"></quick-look>
<media-viewer *ngIf="modalService.mediaViewer.show"></media-viewer>