<div class="modal-background" (click)="close()">
  <div class="form" [style.width.px]="product.videos.length > 0 ? 710 : 586" (click)="stopPropagation($event)">
    <!-- Close -->
    <div class="close" (click)="close()" title="Close">
      <i class="fas fa-times"></i>
    </div>

    <div style="display:flex;">
      <!-- Videos -->
      <div *ngIf="product.videos.length > 0" class="videos-container" [style.width.px]="product.videos.length > 5 ? 105 : 88">
        <div *ngFor="let video of product.videos; let i = index" class="video-thumbnail"
          [style.background-image]="'url('+ video.thumbnail + ')'" (click)="onVideoClick(i)">
          <i class="far fa-play-circle"></i>
        </div>
      </div>

      <!-- Product Image -->
      <div class="image-container">
        <div class="image-background">
          <img [src]="'/Images/' + modalService.quickLook.product.image">
        </div>
      </div>

      <!-- Product Info -->
      <div class="info-container">
        <!-- Title -->
        <div class="product-title">
          {{modalService.quickLook.product.name}}
        </div>

        <!-- Rating & Reviews -->
        <div class="rating-container">
          <stars [rating]="modalService.quickLook.product.rating"></stars>
          <span class="reviews">
            {{modalService.quickLook.product.reviewCount | number}} reviews
          </span>
        </div>

        <!-- Price -->
        <div class="price">
          <div *ngIf="modalService.quickLook.product.maxPrice === 0">
            {{modalService.quickLook.product.minPrice | currency:'USD'}}
          </div>
          <div *ngIf="modalService.quickLook.product.maxPrice > 0">
            {{modalService.quickLook.product.minPrice | currency:'USD'}} -
            {{modalService.quickLook.product.maxPrice | currency:'USD'}}
          </div>
        </div>


        <!-- Description -->
        <div class="description">
          {{product.description}}
        </div>

        <div>
          <div class="view-details-button">
            View Details
          </div>
        </div>
      </div>
    </div>
  </div>
</div>